@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  min-height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  line-height: 1.8;
}

/* Colors */
:root {
  --main-color: #0B0D17;
  --secondary-color: #D0D6F9;
  --third-color: #FFFFFF;
  --heading-1: 80px;
  --heading-2: 56px;
  --heading-3: 24px;
  --heading-4: 16px;
  --heading-5: 16px;
}

@media screen and (min-width: 768px) {
  :root {
    --heading-1: 150px;
    --heading-2: 80px;
    --heading-3: 40px;
    --heading-4: 24px;
    --heading-5: 20px;
  }
}

@media screen and (min-width: 1250px) {
  :root {
    --heading-2: 100px;
    --heading-3: 56px;
    --heading-4: 32px;
    --heading-5: 28px;
  }
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  color: var(--third-color);
  background-color: var(--main-color);
  letter-spacing: 2.5px;
  position: relative;
  z-index: 0;
  /* overflow-x: hidden; */
}

main {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Bellefair', serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

h4 {
  font-size: var(--heading-4);
}

h5 {
  font-size: var(--heading-5);
  text-align: center;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.grey-text {
  color: #FFFFFF25;
}

.opacity-50 {
  opacity: .5;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--third-color);
  text-decoration: none;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 24px;
}

.logo {
  width: 24px;
  height: 24px;
}

.toggle {
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/shared/icon-hamburger.svg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.toggle.active {
  background-image: url(../img/shared/icon-close.svg);
}

.navigation {
  position: absolute;
  width: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: .5s ease-in-out;
  overflow-x: hidden;
}

.navigation.active {
  width: 65%;
  right: 0;
  display: block;
}

.navigation .navigation-list {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-right: 0;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .04);
  backdrop-filter: blur(20px);
  /* overflow: hidden; */
}

.navigation .navigation-list li {
  cursor: pointer;
  padding: .25rem;
  border-right: 4px solid transparent;
  transition: .3s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navigation .navigation-list li.active {
  border-right: 4px solid var(--third-color);
}

.navigation .navigation-list li:hover {
  border-right: 4px solid rgba(255, 255, 255, .5);
}

.navigation .navigation-list li a {
  display: block;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.25rem;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .toggle {
    display: none;
  }

  .navigation {
    width: auto;
    position: relative;
    right: 0;
    left: 0;
    display: block;
  }

  .navigation .navigation-list {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2.5rem;
  }

  .navigation .navigation-list li {
    border-right: none;
    border-bottom: 4px solid transparent;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .navigation .navigation-list li.active {
    border-right: none;
    border-bottom: 4px solid var(--third-color);
  }

  .navigation .navigation-list li:hover {
    border-right: none;
    border-bottom: 4px solid rgba(255, 255, 255, .5);
  }

  .navigation .navigation-list li a {
    padding: 1.5rem 0;
  }

  .navigation-list li a strong {
    display: none;
  }

  h5 {
    text-align: left;
  }
}

@media screen and (min-width: 1250px) {
  .navigation-list li a strong {
    display: inline-block;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    margin-top: 2rem;
  }

  .navigation {
    position: relative;
    padding-left: 500px;
  }

  .navigation::before {
    content: "";
    display: inline-block;
    width: 500px;
    height: 1px;
    background-color: #979797;
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 100;
  }

  .navigation .navigation-list {
    padding: 0 6rem;
  }

  .navigation-list li a {
    font-size: 20px;
  }
}

/* Homepage */
body {
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-body {
  background-image: url(../img/home/background-home-mobile.jpg);
}

.main-container {
  max-width: 1244px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2rem 3rem;
}

.homepage-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.homepage-text p {
  font-weight: 400;
  font-size: 18px;
  max-width: 510px;
}

.homepage-main-link {
  font-family: 'Bellefair', serif;
  font-size: 20px;
  text-transform: uppercase;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: var(--main-color);
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2.5rem;
}

.homepage-main-link::after {
  content: "";
  width: 130%;
  height: 130%;
  position: absolute;
  z-index: -1;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 50%;
  opacity: 0;
  transition: .3s ease-in-out;
}

.homepage-main-link:hover::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .homepage-body {
    background-image: url(../img/home/background-home-tablet.jpg);
  }

  .homepage-main-link {
    width: 242px;
    height: 242px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1250px) {
  main {
    text-align: left;
  }

  .homepage-body {
    background-image: url(../img/home/background-home-desktop.jpg);
  }
  .homepage-main-container {
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }

  .homepage-text {
    width: 50%;
  }

  .homepage-main-link {
    width: 260px;
    height: 260px;
    margin-top: 0;
  }
}

/* Destination */
.destination-page-body {
  background-image: url(../img/destination/background-destination-mobile.jpg);
}

.destination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3rem;
}

.destination-nav ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.destination-nav ul li {
  position: relative;
}

.destination-nav ul li + li {
  margin-left: 2rem;
}

.destination-nav ul li::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: -8px;
  left: 0;
}

.destination-nav ul li.active:after {
  background-color: #FFF;
}

.destination-nav ul li:hover::after {
  background-color: #FFFFFF50;
}

.destination-content {
  max-width: 485px;
}

.subheading-1, 
.subheading-2, 
.nav-text {
  text-transform: uppercase;
  font-weight: 400;
}

.subheading-1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}

.subheading-2 {
  font-size: 14px;
}

.nav-text {
  font-size: 16px;
}

.destination-img-container {
    width: 170px;
}

.destination-travel-text {
  padding-bottom: 2rem;
  border-bottom: 1px solid #383B4B;
}

.destination-travel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1.5rem;
}

.destination-travel-info div:first-of-type {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .destination-page-body {
    background-image: url(../img/destination/background-destination-tablet.jpg);
  }
  

  .destination-img-container {
    width: 300px;
  }

  .destination-content {
    max-width: 655px;
  }

  .destination-travel-info {
    justify-content: space-around;
    flex-direction: row;
  }

  .destination-travel-info div:first-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1250px) {
  .destination-page-body {
    background-image: url(../img/destination/background-destination-desktop.jpg);
  }
  
  .destination-container {
    align-items: flex-end;
    flex-direction: row;
  }

  .destination-img-container {
      width: 420px;
  }

  .destination-content {
    max-width: 485px;
  }

  .destination-nav ul {
    justify-content: flex-start;
  }

  .destination-travel-info {
    max-width: 85%;
    justify-content: space-between;
  }
}

/* Crew */
.crew-page-body {
  background-image: url(../img/crew/background-crew-mobile.jpg);
}

.crew-main-container {
  padding-bottom: 2rem;
}

.crew-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.crew-staff-info {
  margin-top: 4rem;
  margin-bottom: 4rem;
  order: 2;
}

.crew-staff-info p {
  max-width: 500px;
}

.crew-nav {
  display: flex;
  justify-content: center;
  order: 1;
}

.crew-nav-list {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.crew-nav-list li a {
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: #FFFFFF20;
}

.crew-nav-list li a.active {
  background-color: #FFFFFF;
}

.crew-nav-list li a:hover {
  background-color: #FFFFFF50;
}

.crew-img-container {
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  .crew-page-body {
    background-image: url(../img/crew/background-crew-tablet.jpg);
  }

  .crew-main-container {
    padding-bottom: 0;
  }

  .crew-container {
    flex-direction: column;
  }

  .crew-staff-info p {
    max-width: 570px;
  }
}

@media screen and (min-width: 1250px) {
  .crew-page-body {
    background-image: url(../img/crew/background-crew-desktop.jpg);
  }

  .crew-container {
    flex-direction: row;
  }

  .crew-img-container {
    padding-top: 0;
  }

  .crew-nav {
    justify-content: flex-start;
  }
}